.wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #000;
    width: 400px;
    height: 200px;
    margin-left: 500px;
    margin-top: 200px;
    position: relative;
    padding: 16px;
    box-shadow: 0 0 10px black;
    background-color: #ccc;
}

.close {
    position: absolute;
    top: -16px;
    right: -16px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 48px;
    font-weight: 600;
    border: 1px solid #000;
    border-radius: 25px;
    width: 30px;
    height: 30px;
    background-color: white;
}

.close:hover {
    box-shadow: 0 0 10px black;
    cursor: pointer;
}

.hidden {
    display: none;
}
